.modal {
  position: fixed;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex; align-items: center; justify-content: center;
}

.modal-content {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
}

form, form div {
  display: flex;
  flex-direction: column;
}

form div {
  gap: 5px;
}

form input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

p.error {
  color: red;
  margin: 0;
}
